.gcse-search {
  padding: 0 !important;
  height: 60px;
  width: 177px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}

#search {
  /* sizing */
  height: var(--action-height-alt, 55px);
  width: var(--action-width-alt, 175px);
  margin: 0;
  box-sizing: border-box;
  padding: 1.5rem calc(var(--action-height-alt) / 2);
  padding-right: calc(var(--action-height-alt) / 2 + 30px);
  /* style */
  border: var(--midtone, #e8e8e8) 2px solid;
  border-radius: 10% / 20px;
  text-overflow: ellipsis;
  /* outline: none !important; */
  /* icon */
  background-image: url(../img/icon/search-icon.png);
  background-image: url(../img/icon/search-icon.svg);
  background-position: calc(100% - var(--action-height-alt) / 2 + 8px) center;
  background-repeat: no-repeat;
  background-size: 21px;
}
#search::placeholder {
  color: var(--on-primary, #e8e8e8);
}
.gsc-input-box {
  padding: 0 !important;
}
/* create placeholder on .gsc-input-box #gs_tti50 input using ::after when ::placeholder */

.gsc-input-box input[value=""]::placeholder:before {
  content: "Search";
  color: var(--on-primary, #000000);
}

#search-button {
  /* invisible but layer over the right part of the previous element, 55px in height, 55px in width */
  height: var(--action-height-alt, 55px);
  width: var(--action-height-alt, 55px);
  position: absolute;
  right: 0;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background: none;
  z-index: 2;
}
.gsc-search-button,
.gsc-search-button-v2 {
  height: var(--action-height-alt, 55px);
  width: var(--action-height-alt, 55px);
  border-radius: 20px;
  box-sizing: border-box;
  background: none;
}
.gsc-search-button svg,
.gsc-search-button-v2 svg,
.gsib_b {
  display: none;
}
.gsc-input {
  padding-right: 0 !important;
  text-overflow: ellipsis;
}
.gsc-input-box {
  border: none !important;
}
.gsc-input-box #gs_tti50 {
  height: var(--action-height-alt, 55px);
  width: var(--action-width-alt, 175px);
  margin: 0;
  box-sizing: border-box;
  padding: 1.5rem calc(var(--action-height-alt) / 2);
  padding-right: calc(var(--action-height-alt) / 2 + 30px);
  /* style */
  border: var(--midtone, #e8e8e8) 2px solid;
  border-radius: 10% / 20px;
  text-overflow: ellipsis;
  /* outline: none !important; */
  /* icon */
  background-image: url(../img/icon/search-icon.png);
  background-image: url(../img/icon/search-icon.svg);
  background-position: calc(100% - var(--action-height-alt) / 2 + 8px) center;
  background-repeat: no-repeat;
  background-size: 21px;
}
td.gsc-search-button {
  position: relative;
}
button.gsc-search-button {
  position: absolute;
  right: 2px;
  top: 2px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background: none !important;
  z-index: 2;
}
.gsc-control-cse,
.gsc-control-cse-en {
  padding: 0 !important;
  height: 60px;
  width: 177px;
  box-sizing: border-box;
  min-height: fit-content !important;
}
.gsc-control-cse form,
.gsc-control-cse form > table {
  margin: 0 !important;
}
