.about-content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}
.about-parent {
  padding: 50px;
  margin-top: 35px;
  background: #f6f8fa;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 100%;
  flex-wrap: wrap;
}
.about-nav-sections {
  width: 15rem;
  position: absolute;
  height: 15rem;
}
.about-nav-sections {
  transition: transform 0.5s ease-in-out;
}

.about-nav-sections.rotate1 {
  transform: rotate(-30deg);
}
.about-nav-sections.rotate2 {
  transform: rotate(0deg);
}
.about-nav-sections.rotate3 {
  transform: rotate(30deg);
}
.about-nav-sections.rotate4 {
  transform: rotate(60deg);
}
.about-nav-sections.rotate5 {
  transform: rotate(90deg);
}

.about-nav-sections.rotate1 .about-nav-section-img {
  transform: rotate(30deg);
}
.about-nav-sections.rotate2 .about-nav-section-img {
  transform: rotate(0deg);
}
.about-nav-sections.rotate3 .about-nav-section-img {
  transform: rotate(-30deg);
}
.about-nav-sections.rotate4 .about-nav-section-img {
  transform: rotate(-60deg);
}
.about-nav-sections.rotate5 .about-nav-section-img {
  transform: rotate(-90deg);
}

.about-nav-sections.rotate .about-nav-section-img {
  transform: rotate(-30deg);
}
.about-parent * {
  display: flex;
  flex-wrap: wrap;
}
.about-title-img {
  width: 15rem;
  border-radius: 8rem;
}
.about-nav-section-img {
  transition: transform 0.5s ease-in-out;
}
.about-nav-section {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border: solid white;
  box-shadow: #000000aa 0 0 5px;
}
.about-nav-section:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateX(11rem) rotate(0deg);
}
.about-nav-section:nth-child(2) {
  transform: translate(-50%, -50%) rotate(30deg) translateX(11rem)
    rotate(-30deg);
}
.about-nav-section:nth-child(3) {
  transform: translate(-50%, -50%) rotate(60deg) translateX(11rem)
    rotate(-60deg);
}
.about-nav-section:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg) translateX(11rem)
    rotate(-90deg);
}
.about-nav-section:nth-child(5) {
  transform: translate(-50%, -50%) rotate(120deg) translateX(11rem)
    rotate(-120deg);
}
.about-nav-section-img {
  display: block;
  width: 100%;
}
.about-text {
  margin-top: 30px;
}
@media (max-width: 50rem) {
  .about-content .about-title-img {
    width: 100%;
    border-radius: 0rem;
    max-width: unset;
  }
  .about-text {
    flex-basis: 100%;
    flex-shrink: 0;
    text-align: justify;
    padding: 1rem 0;
    line-height: unset;
  }
}
