@font-face {
  font-family: "Boxed Round";
  src: local("Boxed Round Extra light"), local("Boxed-Round-Extra-light"),
    url("font/BoxedRoundExtralight.woff2") format("woff2"),
    url("font/BoxedRoundExtralight.woff") format("woff"),
    url("font/BoxedRoundExtralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Revx Neue";
  src: local("Revx Neue Semi Bold"), local("Revx-Neue-Semi-Bold"),
    url("font/RevxNeueDemo-SemiBold.ttf") format("woff2");
  font-weight: bold;
  font-style: normal;
}
/*2 sections*/
@media (min-width: 30rem) {
  #portfolio-filler {
    background-size: 150% 100% !important;
    transition: background-size 0.4s ease-out !important;
  }
  #portfolio-filler:hover {
    background-size: 180% 120% !important;
  }
}
/*3 sections*/
@media (aspect-ratio: 1/1) {
  #portfolio-filler {
    background-size: 100% 100% !important;
    transition: background-size 0.4s ease-out !important;
  }
  #portfolio-filler:hover {
    background-size: 120% 120% !important;
  }
}
/*4 sections*/
@media (min-width: 60rem) {
  #portfolio-filler {
    background-size: 100% 100% !important;
    transition: background-size 0.4s ease-out !important;
  }
  #portfolio-filler:hover {
    background-size: 120% 120% !important;
  }
}
/*
#portfolio-filler::before {
  content: "Art";
  font-family: "Boxed Round";
  font-family: "Revx Neue";
  font-weight: bold;

  text-transform: uppercase;
  height: 100% !important;
  width: 100% !important;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
  padding-top: unset !important;
  z-index: 1;
  opacity: 0 !important;
  text-align: center;
  vertical-align: bottom !important;
}
#portfolio-filler::after {
  content: "Station";
  font-family: "Boxed Round";
  text-transform: uppercase;
}
#portfolio-filler:hover::before,
#portfolio-filler:hover::after {
  opacity: 1 !important;
}
*/
